<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{{title}} - Express Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  </head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Express Microblog</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/users/logout">Sign out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                            <i class="fas fa-columns"></i>
                            | Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/posts">
                            <i class="fas fa-pencil-alt fa-1x"></i>
                            | Posts
                        </a>
                    </li>
                    {{#if session.passport.user.isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/users">
                                <i class="fas fa-users fa-1x"></i>
                                | Users
                            </a>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/images">
                            <i class="fas fa-images"></i>
                            | Images
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/newsletter">
                            <i class="fas fa-envelope"></i>
                            | Mailing List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/analytics">
                            <i class="fas fa-chart-line"></i>
                            | Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/integrations">
                            <i class="fas fa-plug"></i>
                            | Integrations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/settings">
                            <i class="fas fa-cogs"></i>
                            | Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="mt-1">{{> flash}}</div>
            {{{body}}}
        </main>
    </div>
</div>
</body>

</html>